.barbers {
  background-color: #f7f7f7;
}

.barbers__top-text {
  color: #303030;
  margin-bottom: 20px;
}

.barbers__title {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--second-title-color);
  margin-bottom: 44px;
}

.cards {
  display: flex;
  gap: 30px;
}

.socials {
  display: flex;   
  justify-content: center;
  gap: 10px;
}

.cards__item {
  width: calc((100% - 60px) / 3);
}

.cards__top-wrap {
  position: relative;
  overflow: hidden;
}

.cards__cover-text {
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  font-weight: 600;
  line-height: 1, 6;
  background-color: rgba(255, 99, 71, 0.525);
  padding: 40px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 1300ms linear;
  overflow: auto;

  // .cards__item:hover & {
    transform: translateY(0%);
  }
}

.cards__item-content {
  padding-top: 30px;
}

.cards__item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1, 39;
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
  margin-bottom: 8px;
}

.cards__item-text {
  font-size: 14px;
  line-height: 1, 36;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 30px;
}

.socials__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  @extend %align-list;
  justify-content: center;
  fill: #303030;

  &:hover,
  &:focus {
    fill: #ff6c00;
  }
}

.socials__icon {
  transition: fill 500ms linear;
}
